<%= form_for(@cause) do |f| %>
  <% if @cause.errors.any? %>
    <div id="error_explanation" >
      <h2><%= pluralize(@cause.errors.count, "error") %> prohibited this cause from being saved:</h2>
      <ul>
      <% @cause.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :name, "name" %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :description, "description" %><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :category, "categotry" %><br />
    <%= f.text_field :category %>
  </p>

  <p>
    <%= f.label :img, "image" %><br />
    <%= f.text_field :img %>
  </p>

  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>