

<% @causes.each do |cause| %>

<p> <%= cause.body %></p>
<%= link_to  "Edit", edit_cause_path(cause) %>
<%= link_to  "Delete", cause_path(cause) ,method: :delete, data: {confirm: "Are you sure?"} %>
<hr/>
<%end%>

<%
=begin%>
 <%= link_to  "Your Account", edit_user_registration_path %>
<%= link_to  "New Cause", new_cause_path %> 
<%
=end%>

<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">
     <%= image_tag 'logo.ico',  style:"height: 65px; width: 70px;" %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
          <%= link_to  "Sing Up", new_user_registration_path , {:class => "nav-link"} %>
          </li>
          <li class="nav-item">
          <%= link_to "Your Account", edit_user_registration_path , {:class => "nav-link"} %>
          </li>
          

<li class="nav-item">
          <%= link_to  "New Cause", new_cause_path , {:class => "nav-link"} %>
          </li>

 <li class="nav-item">
          <%= link_to  "Sign Out", destroy_user_session_path, :class => "nav-link", method: :delete %>
          </li>

        </ul>
      </div>
    </div>
  </nav>
