<h1><%= @cause.name %></h1>
<p><%= @cause.description %><p>
<p><%= @cause.category %><p>
  
<%= link_to "New Support", new_support_path(:cause_id => @cause.id), { :class => "button waves-effect waves-light btn" } %>
<br><br>


<div class="row">
  <% @supports.each do |support| %>
    <div>
    <ul>
    <li><%= link_to support.title %><li>
    
    <p><%= link_to support.body %></p>

    <button><%= link_to  "Edit", edit_support_path(support) %></button>
    <button> <%= link_to  "Delete", support_path(support) ,method: :delete, data: {confirm: "Are you sure?"} %></button>
    <ul>

   
  <% end %>
</div>