
<!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
    <div class="display-3">
      <h3><%= @cause.name %></h3></div>
      <p class="lead"><%= @cause.description %></p>
      
 <%= link_to "Support", new_support_path(:cause_id => @cause.id), { :class => "btn btn-primary btn-lg" } %> 
</header>

 <!-- Page Features -->
    <div class="row text-center">
  <% @supports.each do |support| %>

 <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          
          <div class="card-body">
            <h4 class="card-title"><%= link_to support.title %></h4>
            <p class="card-category"><%= link_to support.body %></p>
           
          </div>
          <div class="card-footer">
            <td><%= link_to  "Edit", edit_support_path(support) , class: "btn btn-warning" %><td>
                <%= link_to  "Delete", support_path(support) ,method: :delete, data: {confirm: "Are you sure?"},class: "btn btn-danger" %>
            
          </div>
        </div>
      </div>
      <%end%>

     
    <!-- /.row -->

  </div>
  <!-- /.container -->