
<!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
    
      <h4 class="display-3"><%= @cause.name %></h4>
      <p class="lead"><%= @cause.description %></p>
      
 <button><%= link_to "Support", new_support_path(:cause_id => @cause.id), { :class => "button waves-effect waves-light btn" } %> </button>
</header>

 <!-- Page Features -->

  
    <div class="row text-center">
  <% @supports.each do |support| %>

 <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
 
          <div class="card-body">
            <h4><%= support.user.name %></h4>
            <h4><%= support.user.email %></h4>
            <p class="card-category"><%= support.body %></p>
           
          </div>
          <div class="card-footer">
             <button><%= link_to  "Edit", edit_support_path(support) %></button>
               <button> <%= link_to  "Delete", support_path(support) ,method: :delete, data: {confirm: "Are you sure?"} %></button>
            
          </div>
        </div>
      </div>
      <%end%>

     
    <!-- /.row -->

  </div>
  <!-- /.container -->
