
<!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
    
      <h4 class="display-3"><%= @cause.name %></h4>
      <p class="lead"><%= @cause.description %></p>
      
 <button><%= link_to "New Support", new_support_path(:cause_id => @cause.id), { :class => "button waves-effect waves-light btn" } %> </button>
</header>

 <!-- Page Features -->
    <div class="row text-center">
  <% @supports.each do |support| %>





    <div>
   <ul>
    <li><%= link_to support.title %><li>
    <p><%= link_to support.body %></p>
    </ul>
    <button><%= link_to  "Edit", edit_support_path(support) %></button>
    <button> <%= link_to  "Delete", support_path(support) ,method: :delete, data: {confirm: "Are you sure?"} %></button>
   </div>

   
  <% end %>
</div>