<div class="container-fluid center_div">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container ">
          <div class="row ">
            <div class="col-md-9 col-lg-8 mx-auto">
            


<%= form_for(@support) do |f| %>
  <% if @support.errors.any? %>
    <div id="error_explanation" >
      <p class="small"><%= pluralize(@support.errors.count, "error") %></p>
      <ul>
      <% @support.errors.full_messages.each do |message| %>
        <li class="small"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-label-group">
    <%= f.label :title %><br /><br/>
    <%= f.text_field :title ,class:"form-control" %>
  </div>
  
    <%= f.hidden_field :cause_id, :value => params[:cause_id] %>


    <div class="form-label-group">
    <%= f.label :body %><br /><br/>
    <%= f.text_field :body ,class: "form-control" %> </div>
 
  
    <%= f.submit "Support",class: "btn btn-lg btn-warning btn-block btn-login text-uppercase font-weight-bold mb-2" %>
  
<% end %>

           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
